<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Add product info
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!imageCaptured">
  <ion-grid>
    <ion-row>
      <ion-col>
        <p>Please photograph the back of the product</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="ingredientsImage">
          <img class="ingredientsImage" src="assets/imgs/productBack.png">
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="primary" (click)="scanBack()"><ion-icon color="primary-contrast" name="camera"></ion-icon></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-content *ngIf="imageCaptured">
  <div class="alert-div">
    <ion-grid>
      <ion-row>
        <ion-col>
          <p>Please photograph the back of the product</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-img  src="{{imageSrc}}"  alt="Image containing back of product"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button color="primary" (click)="continue()">Continue <ion-icon color="primary-contrast" name="arrow-round-forward"></ion-icon></ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
