ion-row.product-row {

  height: 6em;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    max-height: 100%;
  }

  ion-card-subtitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  ion-card-content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

