<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Read and Accept</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <h1>Open Food Facts Policy</h1>
      <h2>Terms and conditions for contributors</h2>
      <h3>Registering as a contributor</h3>
      <p>To add and/or edit information and data, especially product data, contributors need to register on the site.</p>
      <p>Contributors agree to enter true information when they register and to update it if it changes.</p>
      <p>Contributions are public</p>
      <p>All contributions are archived and the edit history of the product pages is public. Furthermore, the lists of products added or edited by a specific user are public.</p>
      <p>In order to ensure the integrity and traceability of information and data, the public character of contributions cannot be revoked.</p>

      <h3>Licences of contributions</h3>
      <p>By adding information, data and/or photos, contributors agree to place irrevocably their contributions under the <a href="https://opendatacommons.org/licenses/dbcl/1.0/">Database Contents Licence 1.0</a> for information and data, and under the <a href="https://creativecommons.org/licenses/by-sa/3.0/deed.en">Creative Commons Attribution ShareAlike licence</a> for photos.</p>

      <h3>Attribution of the contributions</h3>
      <p>Contributors agree to be credited by re-user by a link to the product to which they contribute.</p>

      <h3>Sources of contributions</h3>
      <p>Contributors agree to contribute only with information, data and photos for which they possess the reproduction rights.</p>
      <p>Contributors agree not to add on Open Food Facts information, data and photos from other websites (including other products databases, e-commerce websites, producers sites etc.).</p>
      <p>Information and data added by contributors must come directly from the label and packaging of the product.</p>
      <p>Photos added by contributors must have been taken by the contributors themselves.</p>

      <h3>Photos of the information and data</h3>
      <p>In order to enable the verification of the information and data and the correction of possible errors, contributors should try to upload on Open Food Facts photos of the label and packaging showing the information and data.</p>

      <h3>Verification of contributions</h3>
      <p>Open Food Facts has no obligation to verify the accuracy and completeness of the information and data.</p>

      <h3>Editions of contributions</h3>
      <p>Contributions can be edited, corrected or completed by other contributors.</p>

      <h3>Removal of contributions</h3>
      <p>Contributions can be removed if they are not conform to the service or do not comply to these terms and conditions (for instance non-food products, inaccurate or incomplete contributions, non-personal contributions etc.).</p>
      <p>In case of repeat infringement, all the contributions of a contributor may be removed, and her/his access to the site may be revoked.</p>

      <h3>Vandalism and publication of false or inaccurate data</h3>
      <p>Contributors who voluntarily delete information or data and/or who add incorrect information of data will see their access to the site revoked, and legal action against them may be taken.</p>

      <h2>General terms and conditions</h2>
      <p>The general terms and conditions apply to all: users, contributors and re-users.</p>

      <h3>Translations of the terms and conditions for use, contribution and re-use</h3>
      <p>These conditions have been translated in English to ease the use of the site for users from around the world for information purposes only. In case of discrepancies, the original <a href="https://fr.openfoodfacts.org/conditions-d-utilisation">terms and conditions in French</a> prevail.</p>

      <h3>Changes to the terms and conditions for use, contribution and re-use</h3>
      <p>The terms and conditions for use, contribution and re-use can be changed at any time. Changes go into effect as they are published on the page https://fr.openfoodfacts.org/conditions-d-utilisation. Users, contributors and re-users are invited to consult it regularly.</p>

      <h3>Acceptation without reserve</h3>
      <p>Using, contributing or reusing the site and/or information, data or photos from Open Food Facts implies full acceptance of these terms and conditions of use, contribution and re-use.</p>

      <h3>Applicable law</h3>
      <p>The applicable law is French law.</p>

    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <ion-button fill="solid" shape="round" color="danger" (click)="decline()">Decline <ion-icon name="close-circle-outline"></ion-icon></ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="solid" shape="round" color="success" (click)="accept()">Accept <ion-icon name="checkbox-outline"></ion-icon></ion-button>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
