<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Read and Accept</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <h1>Open Food Facts Policy</h1>
      <h2>Terms and conditions for re-use</h2>
      <h3>Accuracy, completeness and comprehensiveness of the information and data</h3>
      <p>All the terms and conditions for use, warnings and limitations of responsibility that they contain, also apply to re-users.</p>

      <h3>Licences</h3>
      <p>Three licences apply to the different parts ot the products database of Open Food Facts. The licences are free licences that authorize the use and reproduction of the content for all purposes, including commercial use, under certain conditions, especially the attribution and the sharing under the same condition of derivative works.</p>
      <p>The Open Food Facts database is available under the Open Database License.</p>
      <p>Individual contents of the database are available under the Database Contents License.</p>
      <p>Products images are available under the Creative Commons Attribution ShareAlike licence. They may contain graphical elements subject to copyright or other rights, that may in some cases be reproduced (quotation rights or fair use). See below for some limits of the licences.</p>

      <h3>Licence restriction</h3>
      <p>The licences mentioned in the above paragraph cover only the rights that belong to Open Food Facts and its contributors. Other rights of third parties may apply.</p>
      <p>For instance, the Creative Commons Attribution ShareAlike licence for images only covers the photo itself and the rights of the contributors who took the picture. Other rights of third parties may apply, such as: copyright for the product design and graphical elements it contains (illustrations, pictures etc.), image rights of people (e.g. celebrities) featured on the packaging, trademark rights etc.</p>
      <p>Depending on the use and on the jurisdictions, exemptions to those third party rights may exist and may apply. For instance "Fair use" in the United States and "quoting right" in Europe.</p>
      <p>It is the responsibility of individuals and entities who wish to re-use the information, data and/or photos to verify by themselves the rights that may apply as well as exemptions to those rights depending on the planned use and the jurisdictions they submit to.</p>

      <h3>Authorship and attribution</h3>
      <p>The individuals and entities who reproduce or re-use information, data and/or photos from the Open Food Facts site or database have to mention the licence and to attribute the authorship to Open Food Facts with a link to https://openfoodfacts.org, the appropriate local version (e.g. https://en.openfoodfacts.org) or the product page, when the information and data reproduced or re-used pertain to a specific product. Such attribution is also necessary for derivative works.</p>

      <h3>Share Alike</h3>
      <p>Derivative works must be shared under the same conditions. The text of each licence specifies the exact conditions for sharing derivative works.</p>

      <h3>Disclaimer</h3>
      <p>The responsibility of Open Food Facts, its publisher and its contributors, cannot be engaged if a specific re-use does not conform to law. The re-user needs to take all the appropriate precations and counsel that he/she deems necessary.</p>      
      
      <h2>General terms and conditions</h2>
      <p>The general terms and conditions apply to all: users, contributors and re-users.</p>

      <h3>Translations of the terms and conditions for use, contribution and re-use</h3>
      <p>These conditions have been translated in English to ease the use of the site for users from around the world for information purposes only. In case of discrepancies, the original <a href="https://fr.openfoodfacts.org/conditions-d-utilisation">terms and conditions in French</a> prevail.</p>

      <h3>Changes to the terms and conditions for use, contribution and re-use</h3>
      <p>The terms and conditions for use, contribution and re-use can be changed at any time. Changes go into effect as they are published on the page https://fr.openfoodfacts.org/conditions-d-utilisation. Users, contributors and re-users are invited to consult it regularly.</p>

      <h3>Acceptation without reserve</h3>
      <p>Using, contributing or reusing the site and/or information, data or photos from Open Food Facts implies full acceptance of these terms and conditions of use, contribution and re-use.</p>

      <h3>Applicable law</h3>
      <p>The applicable law is French law.</p>
    </ion-row>
    <ion-row>
      <ion-buttons>
        <ion-button color="secondary" (click)="cancel()">Cancel <ion-icon name="close"></ion-icon></ion-button>
        <ion-button color="primary" (click)="accept()">Accept <ion-icon name="close"></ion-icon></ion-button>
      </ion-buttons>
    </ion-row>
  </ion-grid>
</ion-content>
