<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Read and Accept</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <h1>Open Food Facts Policy</h1>
      <h2>Terms and conditions for users</h2>
      <h3>Protection of personal information</h3>
      <p>To benefit from certain features, it is possible to create a personal account on the site. Users agree to enter true information when they register and to update it if it changes. The personal information is collected to enable the service and it will not be sold or transmitted to third parties.</p>
      <p>This site is declared to the French commission "Computers and Freedom" (CNIL) under the number 1528436. Conforming to the French "Computers and Freedom" law (« informatique et libertés ») of January 6th 1978 and changed in 2004, you have the right to access and correct the data that pertains to you. To exercise this right, please email privacy@openfoodfacts.org</p>

      <h3>Accuracy of the information and data provided</h3>
      <p>Open Food Facts does not guarantee the accuracy of the information and data present on the site and in the database (included, but not limited to, the product data: photos, barcode, name, generic name, quantity, packaging, brands, categories, origins, labels, certifications, awards, packaging codes, ingredients, additives, allergens, traces, nutrition facts, ecological data etc.).</p>
      <p>The information and data is entered by contributors to the site. It can contain errors due for instance to inaccurate information on labels and packaging, manual input of data, or processing of data.</p>
      <p>In order to allow the data to be verified by users, contributors are invited to upload photos of labels and packaging displaying the data.</p>
      <p>Users who find errors are invited to correct them by becoming contributors. It only takes a couple of minutes to register as a contributor and to correct a product page.</p>

      <h3>Completeness and comprehensiveness of the information and data</h3>
      <p>Open Food Facts does not guarantee the completeness and comprehensiveness of the information and data present on the site and in the database.</p>
      <p>The fact that a product is present on the site or in the database does not guarantee that all the data pertaining to the product is present. Users who find missing information or data are invited to edit and add to the product page.</p>
      <p>Furthermore, all the food products are not present on Open Food Facts, given the number of food products existing in the world, and the number of the new products created every day.</p>
      <p>The averages and other statistical information are computed on the basis of products and data present in the Open Food Facts database, and not on all the existing products on the market. Similarly, the comparisons to averages, and product comparisons, are established on the basis of products and data present in the Open Food Facts database.</p>

      <h3>Warning</h3>
      <p>The information and data is provided only for indicative information. It can contain errors and must not be used for medical purposes.</p>

      <h3>Disclaimer</h3>
      <p>The service is provided as-is. Open Food Facts does not guarantee its conformity to any particular use, and does not guarantee its compatibility with any third-party services.</p>
      <p>Similarly, the information and data is provided as-is. Open Food Facts does not guarantee its accuracy, completeness, comprehensiveness and conformity to any particular use.</p>
      <p>The service can be stopped temporarily for maintenance, or for reasons outside the control of Open Food Facts, such as technical problems (hardware or software).</p>
      <p>The publisher of Open Food Facts cannot be held responsible for any possible damage, direct or indirect, or any loss of data, due to the use or the impossibility to use its services, or to the access or impossibility to access the content of the services, or to the possible fact that the information and data is not accurate, complete or comprehensive.</p>

      <h2>General terms and conditions</h2>
      <p>The general terms and conditions apply to all: users, contributors and re-users.</p>

      <h3>Translations of the terms and conditions for use, contribution and re-use</h3>
      <p>These conditions have been translated in English to ease the use of the site for users from around the world for information purposes only. In case of discrepancies, the original <a href="https://fr.openfoodfacts.org/conditions-d-utilisation">terms and conditions in French</a> prevail.</p>

      <h3>Changes to the terms and conditions for use, contribution and re-use</h3>
      <p>The terms and conditions for use, contribution and re-use can be changed at any time. Changes go into effect as they are published on the page https://fr.openfoodfacts.org/conditions-d-utilisation. Users, contributors and re-users are invited to consult it regularly.</p>

      <h3>Acceptation without reserve</h3>
      <p>Using, contributing or reusing the site and/or information, data or photos from Open Food Facts implies full acceptance of these terms and conditions of use, contribution and re-use.</p>

      <h3>Applicable law</h3>
      <p>The applicable law is French law.</p>
    </ion-row>
    <ion-row>
      <ion-buttons>
        <ion-button color="secondary" (click)="cancel()">Cancel <ion-icon name="close"></ion-icon></ion-button>
        <ion-button color="primary" (click)="accept()">Accept <ion-icon name="close"></ion-icon></ion-button>
      </ion-buttons>
    </ion-row>
  </ion-grid>
</ion-content>
