<ion-header>
  <ion-toolbar background="primary">
    <ion-title>
      Scan
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!imageCaptured">
  <h2><img class="header-icon" src="assets/icon/favicon.png">Scan Ingredients</h2>
  <div class="scan-div">
    <button background="primary" class="submit start-scan" ion-button (click)="scan()">
      <ion-icon name="scan"></ion-icon>
    </button>
  </div>
</ion-content>
<ion-content *ngIf="imageCaptured">
  <div class="alert-div">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div [innerHtml]="ingredientsTextHTML"></div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-img  src="{{imageSrc}}"  alt="Image containing product ingredients"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button color="primary" class="submit continue-scan" (click)="scan()"><p><ion-icon name="scan"></ion-icon>Scan</p></ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="secondary" (click)="resetSection()"><p><ion-icon name="close-circle"></ion-icon>Reset</p></ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
