<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      <img class="wuzinit-logo" src="assets/imgs/logo.png" alt="W">
      Purchase Confirmation
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeModal()"><ion-icon name="close"></ion-icon></button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="body-content">
  <ion-list>
    <ion-list-header>
      Purchase Confirmation for {{premiumFeatureConfirmation.featureTitle}}
    </ion-list-header>
    <ion-card>
      <p>Transaction ID: {{premiumFeatureConfirmation.transactionId}}</p>
      <p>Feature Name: {{premiumFeatureConfirmation.featureTitle}}</p>
      <p>Purchased On: {{premiumFeatureConfirmation.purchasedOn}}</p>
    </ion-card>
  </ion-list>
  <ion-buttons>
    <button ion-button (click)="closeModal()"><p>Confirm</p><ion-icon name="thumbs-up"></ion-icon></button>
  </ion-buttons>
</ion-content>
