wuzinit-premium-feature-purchase-confirmation {
  ion-buttons {
    height: 2em;
    text-align: center;
    button {
      display: inline-flex;
      p {
        padding-right: 2px;
      }
    }
  }
  ion-card {
    p {
      white-space: initial;
    }
  }
}
