wuzinit-add-product {
  .submit-product {
    height: 2em;
    width: 80%;
    left: 10%;
    p {
      padding-right: 4px;
    }
  }
  ion-grid {
    height: 90%;
    .feedbackArea {
      height: 8%;
      ion-badge {
        height: 3rem;
        font-size: 1rem;
        padding: 2px;
        p {
          padding: 2px;
          display: inline-flex;
        }
        ion-icon {
          display: inline-flex;
        }
      }
    }
    .infoArea {
      height: 7%;
      font-size: 0.9rem;
    }
    .sectionConfirm {
      height: 12%;
      button {
        font-size: 0.85rem;
        background-color: color($colors, primary);
        display: inline-flex;
        padding: 5px;
      }
      .disabled {
        background-color: color($colors, blank);
      }
    }
    .sectionArea {
      height: 70%;
      width: 100%;
      ion-list {
        height: 100%;
        width: 100%;
        overflow-y: scroll;
        ion-card {
          padding: 5px;
          width: 100% !important;
          ion-input {
            width: 80%;
            background-color: color($colors, light);
            font-size: 1rem;
          }
          ion-textarea {
            width: 80%;
            background-color: color($colors, light);
            margin: 2px;
            font-size: 1rem;
          }
          ion-buttons {
            text-align: center;
            button {
              width: 40%;
              p {
                color: color($colors, light) !important;
                margin-right: 5px;
              }
            }
            .side-by-side {
              width: 20%;
              margin-left: 5%;
              margin-right: 5%;
            }
          }
        }
      }
    }
    .progressBar {
      height: 3%;
      width: 100%;
      ion-col {
        margin: 3px;
        background-color: color($colors, blank);
        border-style: solid;
        border-radius: 0.5em;
        border-color: black;
        border-width: 1px;
      }
      .lit {
        background-color: color($colors, secondary);
      }
      margin-bottom: 1.5em;
    }
  }
}
