<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-button menuToggle (click)="addMenu()"><ion-icon name="menu"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title *ngIf="productType == 'spoonacular'">{{ spoonacularProduct.title }}</ion-title>
    <ion-title *ngIf="productType == 'wuzinit'">{{ wuzinitProduct ? wuzinitProduct.productName : '' }}</ion-title>
    <ion-title *ngIf="noProduct">product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!noProduct">
    <div class="productBadge">
      <ion-badge class="productBadge" *ngIf="insufficientData" color="blank"><ion-icon name="help"></ion-icon></ion-badge>
      <ion-badge class="productBadge" *ngIf="!insufficientData && !poisonWarning && !dangerWarning" color="primary"><ion-icon name="checkmark"></ion-icon></ion-badge>
      <ion-badge class="productBadge" *ngIf="!insufficientData && !poisonWarning && dangerWarning" color="warning"><ion-icon name="close"></ion-icon></ion-badge>
      <ion-badge class="productBadge" *ngIf="!insufficientData && poisonWarning" color="danger"><ion-icon name="close"></ion-icon></ion-badge>
    </div>
    <div *ngIf="productType == 'spoonacular'" class="productImage">
      <img class="productImage" src="{{spoonacularProduct && spoonacularProduct.images && spoonacularProduct.images.length > 0 ? spoonacularProduct.images[0] : 'assets/imgs/noProduct.png'}}">
    </div>
    <div *ngIf="productType == 'wuzinit'" class="productImage">
      <img class="productImage" src="{{wuzinitProduct && wuzinitProduct.images && wuzinitProduct.images.front && wuzinitProduct.images.front.length > 0 ? wuzinitProduct.images.front : 'assets/imgs/noProduct.png'}}">
    </div>
    <div *ngIf="confirmProductMode" class="confirm-product-mode">
      <ion-buttons>
        <!-- <button ion-button color="warning" (click)="dismissConfirmProductMode()"><p>Go Back</p><ion-icon name="checkmark-circle"></ion-icon></button> -->
        <!-- <button ion-button color="primary" (click)="confirmProduct()"><p>Confirm</p><ion-icon name="checkmark-circle"></ion-icon></button> -->
      </ion-buttons>
    </div>
    <h2>Ingredients</h2>
    <p *ngIf="ingredientsText.length > 0">
      <span *ngFor="let ingredient of ingredientsText"><span [ngClass]="ingredient.warningType">{{ingredient.name}}</span>, </span>
    </p>
    <p *ngIf="ingredientsText.length === 0">
      <span><img src="assets/imgs/noProduct.png" (click)="openModal()"></span>
    </p>
    <br>
    <h4>Categories</h4>
    <p>
      <span *ngFor="let keyword of productKeywords"><span class="categoryLink" [ngClass]="keyword" (click)="searchKeyword(keyword)">{{keyword}}</span>, </span>
    </p>
    <br>
  </div>
  <div *ngIf="noProduct">
    <div class="productBadge">
      <ion-badge class="productBadge" color="blank"><ion-icon name="help"></ion-icon></ion-badge>
    </div>
    <div class="productImage" (click)="openModal()">
      <img src="assets/imgs/noProduct.png">
    </div>
    <h2>Ingredients</h2>
    <p>
      <span>N/A</span>
    </p>
    <br>
    <h4>Categories</h4>
    <p>N/A</p>
    <br>
  </div>
</ion-content>
