<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <button (click)="confirmLogout()" class="logout" color="danger">Logout</button>
    </ion-buttons>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- <ion-list *ngIf="!editMode"> -->
  <ion-list>
    <ion-list-header *ngIf="profileData != undefined" class="list-header">
      <ion-label>{{profileData.profile.firstName}} {{profileData.profile.lastName}}</ion-label>
    </ion-list-header>
    <ion-item class="list-content"  *ngIf="profileData != undefined" >
      <ion-label position="stacked">Username:</ion-label>
      <span class="ion-padding-start">{{profileData.profile.showName}}</span>
    </ion-item>
    <ion-item class="list-content" *ngIf="profileData != undefined">
      <ion-label position="stacked">Email:</ion-label>
      <span class="ion-padding-start">{{profileData.email}}</span>
    </ion-item>
    <ion-item class="list-content">
      <ion-label position="stacked">Symptoms:</ion-label>
      <ul *ngIf="healthProfileData && healthProfileData.medical && healthProfileData.medical.symptoms.length > 0">
        <li *ngFor="let symptom of healthProfileData.medical.symptoms">{{symptom.name}}</li>
      </ul>
      <ul *ngIf="healthProfileData && healthProfileData.medical && healthProfileData.medical.symptoms.length === 0">
        <li>N/A</li>
      </ul>
    </ion-item>

    <ion-item class="list-content">
      <ion-label position="stacked">Medical Conditions:</ion-label>
      <ul *ngIf="healthProfileData && healthProfileData.medical && healthProfileData.medical.medicalConditions.length > 0">
        <li *ngFor="let condition of healthProfileData.medical.medicalConditions">{{condition.name}}</li>
      </ul>
      <ul *ngIf="healthProfileData && healthProfileData.medical && healthProfileData.medical.medicalConditions.length === 0">
        <li>N/A</li>
      </ul>
    </ion-item>
 
    <ion-item class="list-content">
      <ion-label position="stacked">Auto-Immune Diseases:</ion-label>
      <ul *ngIf="healthProfileData && healthProfileData.medical && healthProfileData.medical.autoImmuneDiseases.length > 0">
        <li *ngFor="let condition of healthProfileData.medical.autoImmuneDiseases">{{condition.name}}</li>
      </ul>
      <ul *ngIf="healthProfileData && healthProfileData.medical && healthProfileData.medical.autoImmuneDiseases.length === 0">
        <li>N/A</li>
      </ul>
    </ion-item>
    
    <ion-item class="list-content">
      <ion-label position="stacked">Lifestyle Diet:</ion-label>
      <ul *ngIf="healthProfileData && healthProfileData.medical && healthProfileData.medical.lifestyleDiet.length > 0">
        <li *ngFor="let condition of healthProfileData.medical.lifestyleDiet">{{condition.name}}</li>
      </ul>
      <ul *ngIf="healthProfileData && healthProfileData.medical && healthProfileData.medical.lifestyleDiet.length === 0">
        <li>N/A</li>
      </ul>
    </ion-item>

    <ion-item class="list-content">
      <ion-label position="stacked">Allergies:</ion-label>
      <ul *ngIf="healthProfileData && healthProfileData.medical && healthProfileData.medical.allergies.length > 0 && healthProfileData.medical.allergiesCategory.length > 0">
        <li *ngFor="let allergy of healthProfileData.medical.allergies">{{allergy.name}}</li>
        <li *ngFor="let allergy of healthProfileData.medical.allergiesCategory">{{allergy.name}}</li>
      </ul>
      <ul *ngIf="healthProfileData && healthProfileData.medical && healthProfileData.medical.allergies.length === 0 || healthProfileData.medical.allergiesCategory.length === 0">
        <li>N/A</li>
      </ul>
    </ion-item>

    <ion-item class="list-content">
      <ion-label position="stacked">Food Intolerances:</ion-label>
      <ul *ngIf="healthProfileData && healthProfileData.medical && healthProfileData.medical.foodIntolerances.length > 0 && healthProfileData.medical.foodIntolerancesCategory.length > 0">
        <li *ngFor="let allergy of healthProfileData.medical.foodIntolerances">{{allergy.name}}</li>
        <li *ngFor="let allergy of healthProfileData.medical.foodIntolerancesCategory">{{allergy.name}}</li>
      </ul>
      <ul *ngIf="healthProfileData && healthProfileData.medical && healthProfileData.medical.foodIntolerances.length === 0 || healthProfileData.medical.foodIntolerancesCategory.length === 0">
        <li>N/A</li>
      </ul>
    </ion-item>

    <ion-item class="list-content">
      <ion-label position="stacked">Current Medications:</ion-label>
      <ul *ngIf="healthProfileData && healthProfileData.medical && healthProfileData.medical.currentMedications.length > 0">
        <li *ngFor="let condition of healthProfileData.medical.currentMedications">{{condition.text}}</li>
      </ul>
      <ul *ngIf="healthProfileData && healthProfileData.medical && healthProfileData.medical.currentMedications.length === 0">
        <li>N/A</li>
      </ul>
    </ion-item>


    <ion-item class="list-content">
      <ion-label position="stacked">Other Products:</ion-label>
      <ul *ngIf="healthProfileData && healthProfileData.medical && healthProfileData.medical.medicalConditions.length > 0">
        <li *ngFor="let condition of healthProfileData.medical.medicalConditions">{{condition.name}}</li>
      </ul>
      <ul *ngIf="healthProfileData && healthProfileData.medical && healthProfileData.medical.medicalConditions.length === 0">
        <li>N/A</li>
      </ul>
    </ion-item>



    <ion-item class="list-content points-section">
      <ion-label position="stacked">Points:</ion-label>
      <ul>
        <li>
          Points Balance:
          <ion-badge color="primary" class="ion-float-right">
            <span>{{state.profile.points.pointsBalance}} </span>
            <ion-icon name="star"></ion-icon>
          </ion-badge>
        </li>
        <li>
          Points Acquired (All Time):
          <ion-badge color="star" class="ion-float-right">
            <span>{{state.profile.points.pointsAllTime}} </span>
            <ion-icon name="star"></ion-icon>
          </ion-badge>
        </li>
        <li>
          Points Spent (All Time):
          <ion-badge color="danger" class="ion-float-right">
            <span>{{state.profile.points.pointsUsedAllTime}} </span>
            <ion-icon name="star"></ion-icon>
          </ion-badge>
        </li>
      </ul>
    </ion-item>
  </ion-list>
</ion-content>
