ion-list {
  padding-bottom: 20%;
  padding-top: 5%;
}

img.header-icon {
  height: 1em;
  padding-left: 0.15em;
  padding-right: 0.15em;
}

ion-button {
  font-size: 0.7em;
  padding-left: 0.5em;
}

// ion-title {
//   margin-left: -3.5em;
// }
