ion-list {
  padding-bottom: 20%;
  padding-top: 5%;
}

ion-button.logout {
  background-color: var(--ion-color-secondary);
  border-radius: 0.75em;
  border-style: solid;
  width: 6em;
  min-height: 2.2em;
}

img.header-icon {
  height: 1em;
  padding-left: 0.15em;
  padding-right: 0.15em;
}
