<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="home-area">
    <h2 class="ion-text-center"><img class="header-icon" src="assets/icon/favicon.png"> What's In It Clinic</h2>
    <a class="home-link" href="https://winitclinic.com/">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>What's In It Clinic</ion-card-subtitle>
          <ion-card-title>Website Home</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Finish setting up your profile.
        </ion-card-content>
      </ion-card>
    </a>
    <a class="home-link" href="https://winitclinic.com/products/">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Search a Curated List of Health Tests</ion-card-subtitle>
          <ion-card-title>Our Products</ion-card-title>
        </ion-card-header>
        <ion-card-content>
           Comprehensive tests to help you identify biomarkers
        </ion-card-content>
      </ion-card>
    </a>
    <a class="home-link" href="https://winitclinic.com/patients/">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Search for a Specialty</ion-card-subtitle>
          <ion-card-title>Patient Portal</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Prevent, alleviate, or heal disease–naturally
        </ion-card-content>
      </ion-card>
    </a>
    <a class="home-link" href="https://winitclinic.com/health-pros/">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Search for a Health Professional</ion-card-subtitle>
          <ion-card-title>Health Professionals</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Book a consultation with a health professional today!
        </ion-card-content>
      </ion-card>
    </a>
    <a class="home-link" href="https://winitclinic.com/about-us/">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Our Mission</ion-card-subtitle>
          <ion-card-title>About Us</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Learn about What's In It founders and mission
        </ion-card-content>
      </ion-card>
    </a>
  </div>
</ion-content>
