<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      Look up product
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 class="ion-text-center"><img class="header-icon" src="assets/icon/favicon.png"> Scan Barcode</h2>
  <div class="scan-div">
    <button class="submit start-scan ion-activatable ripple-parent circle" ion-button (click)="scan()">
      <ion-icon color="primary" name="barcode"></ion-icon>
      <ion-ripple-effect type="unbounded"></ion-ripple-effect>
    </button>
  </div>
</ion-content>
