
div.scan-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

button.start-scan {
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
  font-size: 16em;
  color: lightgray;
}

div.alert-div {
  text-align: center !important;
}

div.alert-div button {
  width: 10%;
}

img.header-icon {
  height: 1em;
  padding-left: 0.15em;
  padding-right: 0.15em;
}
